* {
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div:first-child,
div:nth-of-type(4) {
	height: 100%;
}

div {
	height: 65%;
}

div h1 {
    background-color: rgb(73, 255, 152);
}

.container {
	text-align: center;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
	background-image: url(../images/pimg1.jpg);
}

.pimg2 {
	background-image: url(../images/pimg2.jpg);
}

.pimg3 {
	background-image: url(../images/pimg3.jpg);
}

.section-one {
	background: linear-gradient(rgb(39, 39, 39), rgb(255, 243, 149));
	height: 45%;
}

.section-two {
	background: linear-gradient(rgb(39, 39, 39), rgb(255, 149, 149));
	height: 55%;
}

.section-three {
	background: linear-gradient(rgb(255, 149, 149), rgb(39, 39, 39));
	height: 35%;
}

@media (max-width: 768px) {
	.background {
		background-attachment: scroll;
	}
}